.container-product {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;

}

.container-product img {
    width: 35%;
    height: 7px;
    margin-left: 2%;
    margin-right: 2%;
}

.container-product h1 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #F27121;
}

.cart-container {
    display: flex;
    justify-content: center;
}

.left-column {
    width: 35%;
    border: 1px solid gray;
    padding: 25px;
    margin-right: 2%;
}

.left-column img {
    width: 100%;
}

.right-column {
    width: 35%;
    border: 1px solid gray;
    padding: 25px;
}

.right-column img {
    width: 100%;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart h1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 10%;
}

.cart button {
    width: 211px;
    height: 52px;
    background: #FE0000;
    border: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
.product-bottom-line{
    width: 80%;
    height: 7px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

@media (max-width:768px){
    .container-product {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4%;

    }
    .cart-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-column {
        width: 60%;
        border: 1px solid gray;
        padding: 25px;
        margin-bottom: 5%;
    }
    .right-column {
        width: 60%;
        border: 1px solid gray;
        padding: 25px;
    }
    .cart button {
        width: 211px;
        height: 52px;
        background: #FE0000;
        border: 0px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 600;
        color: #FFFFFF;
    }
    .cart h1 {
        font-family: Roboto;
        font-size: 25px;
        
    }
    
    
}